<% if @current_user != nil && @current_user.email == "admin@example.com" %>

<% f = Fashion.find_by(id: params["id"]) %>

<h1>Editing <%= f.project_title %></h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/fashions/#{f.id}", method: "patch" do %>

      <p>Project Title: <input value="<%= f.project_title %>" name="project_title" type="text" autofocus class="form-control"></p>
      <p>Fashion Field: <input value="<%= f.fashion_field %>" name="fashion_field" type="text" autofocus class="form-control"></p>
      <p>Image File: <input value="<%= f.image_file %>" name="image_file" type="text" autofocus class="form-control"></p>


      <button class="btn btn-primary">Update Fashion Project</button>

    <% end %>
    <% else %>
    <%= "You do not have access to this page" %>
    <%end%>

  </div>
</div>
